<!doctype html>
<html class="no-js" lang="">
    <head>
      {{> layouts.head}}
    </head>
    <body>
      <div class="container"> 
        <!--[if lt IE 8]>
            <p class="browserupgrade">
              You are using an <strong>outdated</strong> browser. 
              Please <a href="http://browsehappy.com/">upgrade your browser</a> 
              to improve your experience.
            </p>
        <![endif]-->
        <h1>{{message}}</h1>
        <div id="react-tests"></div>
        {{> layouts.footer}}
      </div>
      <script type="text/javascript" src="/js/swprojects.js"></script>
      <script type="text/babel" src="/js/test.js"></script>
    </body>
</html>
