<!DOCTYPE html>
<html>
    <head>
        <title>Laravel</title>
        {{> layouts.head}}
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="title">Laravel 5</div>
            </div>
            {{> layouts.footer}}
        </div>
    </body>
</html>
